{% extends 'base.html' %}

{% block title %}Lista de Editais{% endblock title %}

{% block content %}
<table class="table table-striped">
  <div class="d-flex flex-row-reverse mt-3">
    <a href="{{ url_for('editais.adicionar') }}" class="btn btn-primary" >Adicionar</a>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">NUMERO</th>
          <th scope="col">DATA ASSINATURA</th>
          <th scope="col">NUCLEO RESPONSAVEL</th>
        </tr>
      </thead>
      <tbody>
        {% for edital in editais %}
        <tr style="cursor: pointer;" onclick="visualizar('{{ url_for("editais.visualizar", id=edital.id) }}')">
          <td scope="col">{{ edital.numero }}</td>
          <td scope="col">{{ edital.data_assinatura }}</td>
          <td scope="col">{{ edital.nucleo_responsavel }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</table>
{% endblock content %}

{% block scripts %}
<script>
function visualizar(url) {
  window.location = url
}
</script>
{% endblock scripts %}
