{% extends 'base.html' %}

{% block title %}Lista de bolsistas{% endblock title %}

{% block content %}
<table class="table table-striped">
  <div class="d-flex flex-row-reverse mt-3">
    <a href="{{ url_for('bolsas.adicionar') }}" class="btn btn-primary" >Adicionar</a>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">NOME</th>
          <th scope="col">MODALIDADE</th>
          <th scope="col">CARGO</th>
        </tr>
      </thead>
      <tbody>
        {% for bolsa in bolsas %}
        <tr style="cursor: pointer;" onclick="redirecionar('{{ url_for("bolsas.visualizar", id=bolsa.id) }}')">
          <td scope="col">{{ bolsa.nome }}</td>
          <td scope="col">{{ bolsa.modalidade }}</td>
          <td scope="col">{{ bolsa.cargo }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</table>
{% endblock content %}
