{% extends 'base.html' %}

{% block title %}Adicionar bolsista{% endblock title %}

{% block content %}
<div class="my-4">
  <h1>Adicionar bolsista</h1>
</div>
<form action='{{ url_for("bolsistas.adicionar") }}' method="post">
  <!-- Dados pessoais -->
  <div>
    <p>Dados pessoais</p>
    <hr>
  </div>
  <div class="container-fluid mt-2 my-5">
    <div class="row">
      <div class="col">
        <label for="nome" class="form-label">Nome</label> 
        <input type="text" name="nome" class="form-control" required>
      </div>
      <div class="col col-4">
        <label for="email" class="form-label">E-mail</label> 
        <input type="email" name="email" class="form-control" required>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <label for="nome_mae" class="form-label">Nome da mãe</label> 
        <input type="text" name="nome_mae" class="form-control" required>
      </div>
      <div class="col col-4">
        <label for="nascimento" class="form-label">Data de nascimento</label> 
        <input type="date" name="nascimento" class="form-control" required>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <label for="rg" class="form-label">RG</label>
        <input type="text" name="rg" class="form-control" required>
      </div>
      <div class="col">
        <label for="cpf" class="form-label">CPF</label> 
        <input type="text" name="cpf" class="form-control" required>
      </div>
      <div class="col">
        <label for="pis_pasep" class="form-label">PIS/PASEP</label>
        <input type="text" name="pis_pasep" class="form-control" required>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col col-5">
        <label for="dados_bancarios" class="form-label">Dados Bancários</label>
        <input type="text" name="dados_bancarios" class="form-control" required>
      </div>  
    </div>
  </div>
  <p>Endereço</p>
  <hr>
  <!-- Dados de endereço -->
  <div class="container-fluid my-4">
    <div class="row mt-2">
      <div class="col col-3">
        <label for="cep" class="form-label">CEP</label> 
        <input type="text" name="cep" class="form-control" required>
      </div>
      <div class="col">
        <label for="logradouro" class="form-label">Logradouro</label>
        <input type="text" name="logradouro" class="form-control" required>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <label for="numero" class="form-label">Número</label>
        <input type="number" name="numero" class="form-control" required>
      </div>
      <div class="col">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" name="cidade" class="form-control" required>
      </div>
      <div class="col">
        <label for="complemento" class="form-label">Complemento(Opcional)</label>
        <input type="text" name="complemento" class="form-control">
      </div>
    </div>
  </div>
  <p>Dados da Bolsa</p>
  <hr>
  <!-- Dados da bolsa -->
  <div class="container-fluid my-4">
    <div class="row mt-2">
      <div class="col">
        <label for="modalidade" class="form-label">Modalidade</label>
        <input type="text" name="modalidade" class="form-control" required>
      </div>
      <div class="col">
        <label for="cargo" class="form-label">Cargo</label>
        <input type="text" name="cargo" class="form-control" required>
      </div>
      <div class="col col-2">
        <label for="carga_horaria" class="form-label">Carga horária</label>
        <input type="number" name="carga_horaria" class="form-control" required>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col col-3">
        <label for="valor" class="form-label">Valor</label>
        <input type="number" name="valor" class="form-control" required>
      </div>
    </div>
  </div>
  <hr>
  <div class="container-fluid mt-4">
    <div class="row justify-content-md-center">
      <div class="col col-2 d-grid">
        <button type="submit" class="btn btn-primary btn-adicionar">Salvar</button>
      </div>
    </div>
  </div>
</form> 
{% endblock content %}
