{% extends 'base.html' %}

{% block content %}
<table class="table table-striped">
  <div class="d-flex flex-row-reverse mt-3">
    <a href="{{ url_for('bolsistas.adicionar') }}" class="btn btn-primary" >Adicionar</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">NOME</th>
          <th scope="col">CPF</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for bolsista in bolsistas %}
        <tr>
          <td scope="col">{{ bolsista.nome }}</td>
          <td scope="col">{{ bolsista.cpf }}</td>
          <td scope="col">
            <a href="{{ url_for('bolsistas.deletar', id=bolsista.id) }}">teste</a>
            <a href="{{ url_for('bolsistas.editar', id=bolsista.id) }}">editar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</table>
{% endblock content %}
