{% extends 'base.html' %}

{% block title %}Lista de bolsistas{% endblock title %}

{% block content %}
<table class="table table-striped">
  <div class="d-flex flex-row-reverse mt-3">
    <a href="{{ url_for('bolsistas.adicionar') }}" class="btn btn-primary" >Adicionar</a>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">NOME</th>
          <th scope="col">CPF</th>
          <th scope="col">BOLSA ATIVA</th>
        </tr>
      </thead>
      <tbody>
        {% for bolsista in bolsistas %}
        <tr style="cursor: pointer;" onclick="visualizarBolsista('{{ url_for("bolsistas.visualizar", id=bolsista.id) }}')">
          <td scope="col">{{ bolsista.nome }}</td>
          <td scope="col">{{ bolsista.cpf }}</td>
          <td scope="col">
            {% if bolsista.bolsa_ativa %}
              SIM
            {% else %}
              NÃO
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</table>
{% endblock content %}

{% block scripts %}
<script>
function visualizarBolsista(url) {
  window.location = url
}
</script>
{% endblock scripts %}
